* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: verdana, Helvetica, sans-serif;
  }

body{
    position: absolute;
  }

footer {
    margin:1%;
    font-size: 1.2vw;
    text-align: center;
  }

:root {
      --lightBlue:#b2e9e5;
      --darkGrey:#40464e;
      --darkBlue:#416b87;
  }
  
.navbar {
    display:flex;
    padding:10px 50px 10px 0px;
    justify-content: space-between;
    background-color:var(--darkGrey);
    color:var(--darkGrey);
  }
  
.nav-logo {
    background-color:var(--lightBlue);
    padding-left:40px;
    padding: 5px 5px 5px 30px;
    font-size: 1.4rem;
  }
  
.nav-menu{
    display:flex;
    padding-top: .5%;
    font-size: 1rem;
  }
  
.nav-menu a{
    color:var(--lightBlue);
    text-decoration: none;
    padding:3px;
    border-bottom: 3px solid var(--lightBlue)
  }
  
.nav-menu a:hover{
    color:white;
    opacity: 0.5;
  }
  
.nav-link {
    list-style-type: none;
    padding-left:5px;
  }

  .hero-img{
    position: relative;
  }

  .text-block-hero{
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: var(--lightBlue);
    color: var(--darkGrey);
    padding:.3%;
    font-size: 2vm;
    font-weight: 900;
  }

.hero-img img {
    /*display:flex;*/
    object-fit: cover;
    width: 100%;
    height: 15vw;
    
  }
.side-topic {
    display:flex;
    padding:10px 20px 10px 0px;
    font-size: 1vw;
  }

.side-title {
    border-right: 5px solid var(--darkBlue);
    color:var(--darkBlue);
    text-align: right;
    padding-right:1rem;
    display:flex;
    flex-wrap: wrap;
    flex:1;
    font-size:2vw;
    flex-basis:20%;
    justify-content: flex-end;
  }
  
.content {
    color: var(--darkGrey);
    /*display:flex;*/
    flex:1;
    flex-basis:80%;
    margin-right: 2%;
    font-size: 16px;
    padding-left: 1.3vw;
    padding-right: 50px;
  }
  
.content-text p {
   /* display: flex;*/
    margin-bottom: 1%;
  }
  
.cont-img{
    width:100%;
  }

.img-row {
    display:flex;
    justify-content: stretch;
  }
  
.img-col {
    display: flex;
    margin:0.5%;
    border: 5px solid var(--lightBlue);
    opacity: 0.5;
    position: relative;
  }

.img-col:hover {
    opacity:1;
    cursor: pointer;
  }

  .responsive-img {
    display: flex;
    height: auto;
   max-width: 100%;
}

.text-block {
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: var(--lightBlue);
    color: var(--darkGrey);
    padding:.2%;
  }

.text-blk-content {
    font-size: .8vw;
  }

.text-blk-title {
  font-weight: 900;
  font-size: 1.2vw;
}

.nav-contact-me {
  display: flex;
  flex:1;
  justify-content: space-evenly;
}

.contact-link {
  list-style-type: none;
  padding-top: .3%;
}

.contact-link a{
  color:var(--darkGrey);
  text-decoration: none;
  border-bottom: 3px solid var(--darkGrey)
  }


/* Media Queries*/
@media (max-width:680px){ /*605*/
body{
    background-color:whitesmoke;
  }

  footer {
    font-size: 2vw;
  }

.nav-link {
    padding:2%
  }

.navbar{
    display: block;
    width: 100%;
    padding:1% 0;
  }

.nav-menu{
    justify-content: center;
  }
  
.nav-logo{
    font-size: 20px;
    text-align: center;
  }

.side-topic {
    flex-wrap: wrap;
    padding:0;
  }

.side-title {
    background-color: var(--darkGrey);
    color:var(--lightBlue);
    padding:0px;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 16px;
  }

.content {
    padding-right:0;
  }

.img-row {
    display: block;
  }

.text-blk-content {
    font-size: 2vw;
  }

.text-blk-title {
  font-size: 2.5vw;
}

.contact-link{
    font-size: 12px;
  }

  .text-block-hero{
    width:150px;
    font-size: 2.2vw;
  }
}

/* Media Queries*/
  @media (max-width:483px){

    footer {
      font-size: 3vw;
    }
    /*reducing font from 20 to 10px*/
  .nav-logo{
      font-size: 18px;
    }

  .text-blk-content {
      font-size: 2.5vw;
    }

  .text-blk-title {
    font-size: 3vw;
    }

    /*removed hero text not sutiable for lower rest device*/
    .text-block-hero{
      z-index: -1;
    }
  }

  @media (max-width:357px){
    footer {
      font-size: 4vw;
    }
    .nav-menu{
      font-size: .6rem;
    }
    .img-col{
      height: 90px;
    }
  }
