* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: verdana, Helvetica, sans-serif;
  }

body{
    position: absolute;
  }

footer {
    margin:3%;
    font-size: .75rem;
  }

:root {
      --lightBlue:#b2e9e5;
      --darkGrey:#40464e;
      --darkBlue:#416b87;
  }
  
.navbar {
    display:flex;
    padding:10px 50px 10px 0px;
    justify-content: space-between;
    background-color:var(--darkGrey);
    color:var(--darkGrey);
  }
  
.nav-logo {
    background-color:var(--lightBlue);
    padding-left:40px;
    padding: 5px 5px 5px 30px;
    font-size: 1.4rem;
  }
  
.nav-menu{
    display:flex;
    padding-top: .5%;
    font-size: 16px;
  }
  
.nav-menu a{
    color:var(--lightBlue);
    text-decoration: none;
    padding:3px;
    border-bottom: 3px solid var(--lightBlue)
  }
  
.nav-menu a:hover{
    color:white;
    opacity: 0.5;
  }
  
.nav-link {
    list-style-type: none;
    padding-left:5px;
  }

.hero-img img {
    display:flex;
    object-fit: cover;
    width: 100%;
    height: 20vw;
  }
.side-topic {
    display:flex;
    padding:10px 20px 10px 0px;
    font-size: 1vw;
  }

.side-title {
    border-right: 5px solid var(--darkBlue);
    color:var(--darkBlue);
    text-align: right;
    padding-right:1rem;
    display:flex;
    flex-wrap: wrap;
    flex:1;
    font-size:2.5vw;
    flex-basis:20%;
    justify-content: flex-end;
  }
  
.content {
    color: var(--darkGrey);
    display:flex;
    flex:1;
    flex-basis:80%;
    margin-right: 2%;
    font-size: 16px;
    padding-left: 1.3vw;
    padding-right: 50px;
  }
  
.content-text p {
    display: flex;
    margin-bottom: 1%;
  }
  
.cont-img{
    width:100%;
  }
  
.img-row {
    display:flex;
  }
  
.img-col {
    display: flex;
    margin:0.5%;
    border: 5px solid var(--lightBlue);
    opacity: 0.5;
    position: relative;
  }

.img-col:hover {
    opacity:1;
  }
  
.text-block {
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: black;
    color: white;
    padding:1%;
  }

.responsive-img {
      display: flex;
      height: auto;
      max-width: 100%;
  }

.text-blk-content {
    font-size: 10px;
  }

.text-blk-title {
  font-size: 12px;
}

.nav-contact-me {
  display: flex;
  flex:1;
  justify-content: space-evenly;
}

.contact-link {
  list-style-type: none;
  padding-top: .3%;
}

.contact-link a{
  color:var(--darkGrey);
  text-decoration: none;
  border-bottom: 3px solid var(--darkGrey)
  }


/* Media Queries*/
@media (max-width:605px){ /*668*/
body{
    background-color:whitesmoke;
  }

.nav-link {
    padding:2%
  }

.navbar{
    display: block;
    width: 100%;
    padding:1% 0;
  }

.nav-menu{
    justify-content: center;
  }
  
.nav-logo{
    font-size: 20px;
    text-align: center;
  }

.side-topic {
    flex-wrap: wrap;
    padding:0;
  }

.side-title {
    background-color: var(--darkGrey);
    color:var(--lightBlue);
    padding:0px;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 16px;
  }

.content {
    padding-right:0;
  }

.img-row {
    display: block;
  }

.text-blk-content {
    font-size: 2vw;
  }

.text-blk-title {
  font-size: 2.5vw;
}

.contact-link{
    font-size: 12px;
  }
}

/* Media Queries*/
  @media (max-width:483px){
    body{
      background-color: pink;
    }
    
    /*reducing font from 20 to 10px*/
  .nav-logo{
      font-size: 18px;
    }

  .text-blk-content {
      font-size: 3vw;
    }

  .text-blk-title {
    font-size: 3.5vw;
    }
  }

  @media (max-width:357px){
    body{
      background-color: lightskyblue;
    }

    .nav-menu{
      font-size: 12px;
    }
    .text-blk-content {
      font-size: 4vw;
    }
  
  .text-blk-title {
    font-size: 4.5vw;
  }
  }
